<h1>Edit Figure</h1>

<form action="/figures/<%=@figure.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name:</label>

  <br></br>

  <input type="text" name="figure[name]" id="figure_name" value="<%=@figure.name%>">

  <br></br>

  <label>Choose an existing Title:</label>

  <br></br>

  <%Title.all.each do |title|%>
    <input type="checkbox" name="figure[title_ids][]" id="<%= title.id%>" value="<%=title.id%>" <%='checked' if @figure.titles.include?(title) %>><%=title.name%></input>
  <%end%>

  <br></br>

  <h4>Create New Title:</h4>
    <input type="text" id="new_title" name="title[name]"> <br><br>
     <label> <h3>Landmarks</h3> </label>
      <% Landmark.all.each do |landmark| %>
      <%= landmark.name %>
      <input id="landmark_<%=landmark.id%>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>">
    <% end %>
     <h4>Create New Landmark:</h4>
    Name: <input type="text" id="new_landmark" name="landmark[name]">
    Year: <input type="text" name="landmark[year_completed]">
  <input type="submit" value="Edit Figure">
</form>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
