<h1>Add a New Figure</h1>
 <form action="/figures" method="POST">
  Name <input type="text" name="figure[name]" id="figure_name"> </br>
   <!-- Song Name <input type="text" name="Name"> </br> -->

   <p>Titles <% Title.all.each do |title| %>
     <label><%= title.name %></label>
    <input id="<%= title.name %>" type="checkbox" name="titles[name]" value="<%= title.id %>">
  <% end %></p>
  <br>
    <label>Create New Title: </label>
    <br>
    <input type="text" name="title[name]" id="title_name" placeholder="Title Name">
    <br>

    <p>Landmarks <% Landmark.all.each do |landmark| %>
      <label><%= landmark.name %></label>
     <input id="<%= landmark.name %>" type="checkbox" name="landmark[name]" value="<%= landmark.id %>">
   <% end %></p>
    <label>Create New Landmark: </label>
    <br>
    Name:<input type="text" name="landmark[name]" id="landmark_name">
    Year:<input type="text" name="landmark[year_completed]" id="landmark_year_completed">
    <br>


    <input type="submit" id="create_figure" value="Create New Figure">


 </form>
